@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Select all child img tags */
.main-content img {
  display: inline-block;
  height: 1.5rem;
  padding: 0 0.5rem;
  margin: 0;
}

.reddit-char {
  height: 200px !important;
}

@media (width >= 768px) {
  .reddit-char {
    float: right;
  }
}
